<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{server.description}}">
    <meta name="theme-color" content="#2E51A3">
    <meta property="og:site_name" content="{{server.name}}">
    <meta property="og:title" content="{{server.title}}">
    <meta property="og:description" content="{{server.description}}">
    <meta property="og:image" content="{{server.logo}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="//{{server.rootUrl}}">
    <title>{{page.title}}</title>
    <link rel="icon" href="{{server.logo}}">
    <script src="/js/index.js"></script>
    <script src="/js/jQuery.js"></script>
    <script src="/js/QRCode.js"></script>
    <script src="/js/community.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>