<a href="{{url}}" class="flex cursor-pointer select-none whitespace-nowrap bg-sonolus-ui-button-normal p-2 text-center transition-colors hover:bg-sonolus-ui-button-highlighted active:bg-sonolus-ui-button-pressed sm:p-3">
    <div class="relative mr-3 hidden flex-shrink-0 sm:block" style="width:116px;height:116px;">
        <img class="h-full w-full" data-src="{{cover}}" alt="Thumbnail">
        <div class="absolute left-0 top-0 flex items-center justify-center bg-sonolus-ui-surface bg-opacity-90 h-6 w-6">
            <div class="text-sm">{{rating}}</div>
        </div>
        <div class="absolute left-0 top-0 flex h-full w-full items-end justify-center">
            <div class="overflow-hidden text-ellipsis whitespace-nowrap bg-sonolus-ui-surface bg-opacity-90 px-1 py-0.5 text-sm">
                {{engine}}
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center" style="width: 1px; flex-grow: 10000;">
        <div class="flex w-full justify-between space-x-2 text-2xs text-sonolus-ui-text-soften sm:space-x-3 sm:text-xs">
            <div class="overflow-hidden text-ellipsis">#{{name}}</div>
            <div class="overflow-hidden text-ellipsis">{{author}}</div>
        </div>
        <div class="relative mt-4 h-24 w-24 flex-shrink-0 sm:hidden">
            <div class="absolute left-0 top-0 flex items-center justify-center bg-sonolus-ui-surface bg-opacity-90 h-6 w-6">
                <div class="text-sm">{{rating}}</div>
            </div>
            <div class="absolute left-0 top-0 flex h-full w-full items-end justify-center">
                <div class="overflow-hidden text-ellipsis whitespace-nowrap bg-sonolus-ui-surface bg-opacity-90 px-1 py-0.5 text-sm">{{engine}}</div>
            </div>
        </div>
        <div class="mt-4 w-full overflow-hidden text-ellipsis text-lg font-bold sm:mt-2 sm:text-2xl">{{title}}</div>
        <div class="mt-1 mb-2 w-full overflow-hidden text-ellipsis sm:mb-0">{{subtitle}}</div>
        <div class="flex mt-2 itemTags" style="gap:5px;fill:white;font-size:14px;height:24px;line-height:14px;">{{tags.html}}</div>
    </div>
</a>
