<div {{search.isMargin}}>
    <div class="py-2 font-bold sm:py-3">{{search.name}}</div>
    <div class="ml-9 flex flex-grow items-center space-x-2 sm:ml-12 sm:space-x-3">
        <div id="search-info-{{search.query}}" class="flex-grow overflow-hidden text-ellipsis whitespace-nowrap">{{search.defaultValues}}</div>
        <select id="search-{{search.query}}" class="w-36 text-ellipsis border-none bg-sonolus-ui-button-normal p-2 text-center text-sm hover:bg-sonolus-ui-button-highlighted active:bg-sonolus-ui-button-pressed sm:w-48 sm:p-3 sm:text-base">
            {{search.options}}
        </select>
        <button id="search-reset-{{search.query}}" class="flex select-none space-x-2 p-2 transition-colors sm:space-x-3 sm:p-3 pointer-events-none bg-sonolus-ui-button-disabled text-sonolus-ui-text-disabled">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 w-5 fill-current sm:h-6 sm:w-6">
                <path d="M480 256c0 123.4-100.5 223.9-223.9 223.9-48.84 0-95.17-15.58-134.2-44.86-14.12-10.59-16.97-30.66-6.375-44.81 10.59-14.12 30.62-16.94 44.81-6.375 27.84 20.91 61 31.94 95.88 31.94C344.3 415.8 416 344.1 416 256S344.31 96.2 256.2 96.2c-37.46 0-73.09 13.49-101.3 36.64l45.12 45.14c17.01 17.02 4.955 46.1-19.1 46.1H35.17C24.58 224.1 16 215.5 16 204.9V59.04C16 35 45.07 22.96 62.07 39.97l47.6 47.63C149.9 52.71 201.5 32.11 256.1 32.11 379.5 32.11 480 132.6 480 256z"></path>
            </svg>
        </button>
    </div>
    <script>
        addLoadEvent(function(){
            var def = {{search.default}};
            searchConfig["{{search.query}}"] = def;
            document.getElementById("search-{{search.query}}").oninput = function(){
                searchConfig["{{search.query}}"] = this.value;
                document.getElementById("search-info-{{search.query}}").innerHTML = document.getElementById("search-{{search.query}}-" + searchConfig["{{search.query}}"]).innerHTML;
                if (searchConfig["{{search.query}}"] == def) document.getElementById("search-reset-{{search.query}}").className = disableResetClass;
                else document.getElementById("search-reset-{{search.query}}").className = enableResetClass;
            }
            document.getElementById("search-reset-{{search.query}}").onclick = function(){
                searchConfig["{{search.query}}"] = def;
                document.getElementById("search-{{search.query}}").value = def;
                document.getElementById("search-info-{{search.query}}").innerHTML = document.getElementById("search-{{search.query}}-" + searchConfig["{{search.query}}"]).innerHTML;
                document.getElementById("search-reset-{{search.query}}").className = disableResetClass;
            }
        });
    </script>
</div>