<div {{search.isMargin}}>
    <div class="my-2 font-bold sm:my-3" id="search-name-{{search.query}}">{{search.name}}</div>
    <div class="ml-9 flex flex-grow items-center space-x-2 sm:ml-12 sm:space-x-3" style="justify-content: space-between;">
        <div id="search-info-{{search.query}}" class="flex-grow overflow-hidden text-ellipsis whitespace-nowrap"></div>
        <div class="flex">
            <button id="search-selected-{{search.query}}" style="justify-content: center;" class="second-button multi-button flex select-none space-x-2 p-2 transition-colors sm:space-x-3 sm:p-3 cursor-pointer bg-sonolus-ui-button-normal hover:bg-sonolus-ui-button-highlighted active:bg-sonolus-ui-button-pressed">{{language.selectAll}}</button>
            <button id="search-unselected-{{search.query}}" style="justify-content: center; display: none" class="second-button multi-button flex select-none space-x-2 p-2 transition-colors sm:space-x-3 sm:p-3 cursor-pointer bg-sonolus-ui-button-normal hover:bg-sonolus-ui-button-highlighted active:bg-sonolus-ui-button-pressed">{{language.unselectAll}}</button>
            <button id="search-reset-{{search.query}}" class="flex select-none space-x-2 p-2 transition-colors sm:space-x-3 sm:p-3 pointer-events-none bg-sonolus-ui-button-disabled text-sonolus-ui-text-disabled">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 w-5 fill-current sm:h-6 sm:w-6">
                    <path d="M480 256c0 123.4-100.5 223.9-223.9 223.9-48.84 0-95.17-15.58-134.2-44.86-14.12-10.59-16.97-30.66-6.375-44.81 10.59-14.12 30.62-16.94 44.81-6.375 27.84 20.91 61 31.94 95.88 31.94C344.3 415.8 416 344.1 416 256S344.31 96.2 256.2 96.2c-37.46 0-73.09 13.49-101.3 36.64l45.12 45.14c17.01 17.02 4.955 46.1-19.1 46.1H35.17C24.58 224.1 16 215.5 16 204.9V59.04C16 35 45.07 22.96 62.07 39.97l47.6 47.63C149.9 52.71 201.5 32.11 256.1 32.11 379.5 32.11 480 132.6 480 256z"></path>
                </svg>
            </button>    
        </div>
    </div>
    <div class="ml-9 flex flex-grow items-center space-x-2 sm:ml-12 sm:space-x-3" style="margin-top: 10px;" id="search-optionsAreaParent-{{search.query}}">
        <div class="flex gap-10 sm:gap-12 search-optionArea" id="search-optionsArea-{{search.query}}" style="flex-wrap: wrap;">
            {{search.options}}
        </div>
    </div>
    <script>
        addLoadEvent(function(){
            var def = {{search.default}};
            var lang = "{{language.selected}}";
            searchConfig["{{search.query}}"] = "";
            for (var i = 0; i < def.length; i++) searchConfig["{{search.query}}"] += "0";
            document.getElementById("search-info-{{search.query}}").innerHTML = lang.replace("{0}", "0");
            document.getElementById("search-optionsArea-{{search.query}}").onclick = function(){
                var count = 0;
                for (var i = 0; i < def.length; i++)
                    if (searchConfig["{{search.query}}"][i] == 1) count++;
                document.getElementById("search-info-{{search.query}}").innerHTML = lang.replace("{0}", count);
                document.getElementById("search-selected-{{search.query}}").style.display = count == def.length ? "none" : "";
                document.getElementById("search-unselected-{{search.query}}").style.display = count != def.length ? "none" : "";
            };
            document.getElementById("search-selected-{{search.query}}").onclick = function(){
                for (var i = 0; i < def.length; i++)
                    if (searchConfig["{{search.query}}"][i] == 0) document.getElementById("search-option-{{search.query}}-" + i).click();
                var count = def.length;
                document.getElementById("search-info-{{search.query}}").innerHTML = lang.replace("{0}", count);
                document.getElementById("search-selected-{{search.query}}").style.display = count == def.length ? "none" : "";
                document.getElementById("search-unselected-{{search.query}}").style.display = count != def.length ? "none" : "";
            };
            document.getElementById("search-unselected-{{search.query}}").onclick = function(){
                for (var i = 0; i < def.length; i++)
                    if (searchConfig["{{search.query}}"][i] == 1) document.getElementById("search-option-{{search.query}}-" + i).click();
                var count = 0;
                document.getElementById("search-info-{{search.query}}").innerHTML = lang.replace("{0}", count);
                document.getElementById("search-selected-{{search.query}}").style.display = count == def.length ? "none" : "";
                document.getElementById("search-unselected-{{search.query}}").style.display = count != def.length ? "none" : "";
            };
            for (var i = 0; i < def.length; i++) 
                if (def[i] == 1) document.getElementById("search-option-{{search.query}}-" + i).click();
            if (def.length >= 20) {
                document.getElementById("search-optionsAreaParent-{{search.query}}").style.marginLeft = "0px";
                document.getElementById("search-optionsArea-{{search.query}}").style.marginRight = "0px";
            }
            if ({{search.isRequired}}) {
                const realDef = {{search.realDefault}};
                checkFunc["{{search.query}}"] = function() {
                    if (searchConfig["{{search.query}}"] != realDef) {
                        document.getElementById("search-name-{{search.query}}").style.backgroundColor = "";
                        return true;
                    } else {
                        document.getElementById("search-name-{{search.query}}").style.backgroundColor = "#fd5572";
                        return false;
                    }
                };
                document.getElementById("search-name-{{search.query}}").innerHTML += " <span style=\"color: red\">*</span>";
            }
        });
    </script>
</div>