<a href="{{url}}" class="flex cursor-pointer select-none whitespace-nowrap bg-sonolus-ui-button-normal p-2 text-center transition-colors hover:bg-sonolus-ui-button-highlighted active:bg-sonolus-ui-button-pressed sm:p-3">
    <div class="relative mr-3 hidden h-24 w-24 flex-shrink-0 sm:block">
        <img class="h-full w-full" src="{{thumbnail}}" alt="Thumbnail">
    </div>
    <div class="flex w-full flex-col items-center">
        <div class="flex w-full justify-between space-x-2 text-2xs text-sonolus-ui-text-soften sm:space-x-3 sm:text-xs">
            <div class="overflow-hidden text-ellipsis">#{{name}}</div>
            <div class="overflow-hidden text-ellipsis">{{author}}</div>
        </div>
        <div class="relative mt-4 h-24 w-24 flex-shrink-0 sm:hidden">
            <img class="h-full w-full" src="{{thumbnail}}" alt="Thumbnail"></div>
        <div class="mt-4 w-full overflow-hidden text-ellipsis text-lg font-bold sm:mt-2 sm:text-2xl">{{title}}</div>
        <div class="mt-1 mb-2 w-full overflow-hidden text-ellipsis sm:mb-0">{{subtitle}}</div>
    </div>
</a>