assets
code_template
data/*
package
assets.sql
fetchdata.php
log.txt
main
sonolus-server.zip
items/UserProfile.h
sonolus.*
sonolus
bandori.bin
sonolus-hwpl-engine
sonolus-pjsekai-engine
hwpl
sirius
*.bin
.vscode
!data/87e0c3a0879345e2721f71b0540c5bd8a0f8d6c3
!data/bd32c9acb1607e6ff65b52c75d8566667c75902f
!data/18d418a036faf35bbd17c9d265a782e32723356c
!data/c3e27937fb9578065038d7988c6d4f955b584d95
!data/b4b42df0b336e852d14b4d334c3d99f8992626d8
!data/ff4aeb7f818d14508dd98699d71102fc57547c44
!web/sonolus
!web/sonolus/sonolus.h
*.srp
releases
.tmp
libsonolus.*
api/package*
api/node_modules
emsdk
plugins/*.so
plugins/enableList.json
# make
public
phigros
phigros2
guide
sync
sonolus2.db