[submodule "plugins/libsonolush"]
	path = plugins/libsonolush
	url = https://github.com/SonolusHaniwa/sonolus-server-plugin-libsonolush
[submodule "plugins/libonedrive"]
	path = plugins/libonedrive
	url = https://github.com/SonolusHaniwa/sonolus-server-plugin-libonedrive
